@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Outfit:wght@400;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.highlight {
    color: #07594d;
}
.center {
    text-align: center;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
html {
    display: flex;
    justify-content: center;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
html, body {
    height:100%;
     margin: 0;
    padding: 0;
}
body {
    width: 100%;
    font-family: "Montserrat", sans-serif;
    background-color:#07594d;
}
.first-section {
    height: 80vh;
    position: relative;
}
.container-fluid {
    padding: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    color: white;
    width: 100%;
    background-color: rgba(7, 89, 77, 1);
    height: 6rem;
}
.scrolled-header {
    background-color: rgba(7, 89, 77, 1);
    transition: 2s;
    position: fixed;
    top: 0;
    display: flex;
    z-index: 4;
    width: 100%;
    justify-content: space-between;
    padding: 1rem 2rem;
    color: white;
}
a {
    color: white;
    text-decoration: none;
    transition: 0.5s;
}
a:hover,
a:focus {
    color: #ffff;
}
.brand {
    width: 120px;
    height: 80px;
    padding: 0;
}
.brand__image {
    width: 110px;
    height: 70px;
    padding: 0;
}
.header__ul {
    list-style: none;
    float: right;
    width: 800px;
    margin-right: 40px;
    margin-top: 0;
    max-height: max-content;
    background-color: #07594d;
    z-index: 9999;
}
#navbarNav li {
    text-transform: uppercase;
    display: block;
    line-height: 30px;
    margin: 0 10px;
}
#navbarNav li a {
    color: #fff;
    font-size: 17px;
    text-transform: capitalize;
    padding: 7px 25px;
    font-weight: 500;
    text-decoration: none;
}
li a:hover {
    border-bottom: 2px solid #ffba00;
    transition: 0.3s;
}
.navbar-toggler {
    background-color: white;
}
.hero {
    position: relative;
    height: auto;
    overflow: hidden;
    padding: 100px 0;
    color: white;
    position: relative;
    text-align: center;
    background-image: url("heroc.webp");
    background-position: center;
    background-size: cover;
    color: white;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(7, 89, 77, 0.7);
}
.hero-h {
    font-size: 8em;
    font-weight: bolder;
}
.hero-p {
    font-size: 18px;
    font-weight: 100;
    transition: 0.5s ease-in-out;
}
.hero-content {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    top: 20%;
}
.hero__button {
    border: none;
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;
    font-weight: 750;
    background-color: #ffba00;
    color:#ffffff;
}
.hero__button:hover {
    box-shadow: 2px 2px 9px #c4c4c4, -2px -2px 9px #ffffff;
}
.cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px rgba(255, 186, 0, 0.5);
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;
}
.cube:nth-child(2n) {
    border-color: rgba(255, 186, 0, 0.1);
}
.cube:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
}
.cube:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
}
.cube:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
}
.cube:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
}
.cube:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
}
@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}
.fi-ts-grin,
.fi-ss-rocket-lunch,
.fi-sr-broom,
.fi-rs-review,
.fi-brands-instagram,
.fi-brands-twitter-alt-circle,
.fi-brands-facebook,
.fi-brands-linkedin,
.fi-rs-marker,
.fi-tr-phone-call,
.fi-rr-envelope,
.fi-tr-id-card-clip-alt {
    color: #ffba00;
    padding: 10px;
}
.text::first-line {
    font-weight: bold;
}
.about-us {
    padding: 6rem 4rem;
    display: flex;
    justify-content: center;
}
#about_p {
    font-size: 1.2rem;
    font-weight: 300;
    color:white;
}
.typing {
    font-weight: 900;
    color: #4E887F;
}
.about__button {
    border: none;
    border-radius: 15px;
    padding: 5px 15px;
    font-weight: bold;
    color: #ffba00;
    background-color:#07594d;
    border-radius: 10px;
    margin: 0 0 15px 0;
}
.about__h4 {
    margin: 10px 0;
    font-weight: 900;
    color:#ffffff;

}
.services__h4 {
    padding: 0 10px;
    font-weight: 900;
}
#about {
    margin-bottom: 20px;
}
#service {
    margin-top: 30px;
    border-top: none;
    border: 0;
}
.badge {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2px;
}
.fi.fi-ss-check {
    color: #07594d;
}
.client-images {
    display: flex;
    flex-wrap: nowrap;
    gap: 4vw;
    margin: auto;
    max-width: 100%;
    max-height: fit-content;
    filter: grayscale(100%);
    position: relative;
/*     background-color: #f0f0f0; */
}
.client-images:before,
.client-images:after {
    content: "";
    z-index: 2;
    width: 25vw;
    height: 100%;
    position: absolute;
    top: 0;
}
.client-images:hover img {
    animation-play-state: paused;
}
.client-images:after {
    right: 0;
/*     background-color:#e0e0e0;;
} */
.client-item1,
.client-item2,
.client-item3,
.client-item4 {
    margin-top: 1.4vw;
    margin-bottom: 1vw;
    object-fit: cover;
    position: relative;
    animation: scrollClients 10s linear infinite;
    height: 70px;
}
.client-item1 {
    width: 20vw;
    background-image: url("Malengo_Logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.client-item2 {
    width: 18vw;
    background-image: url("Mak-Logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.client-item3 {
    width: 20vw;
    background-image: url("SPA\ MANIA\ .png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.client-item4 {
    width: 18vw;
    background-image: url("download-27.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.clients__h4 {
    border-radius: 10px;
    background-color: #ffba00;
    color: #fff;
    padding: 0.5vw 0;
    width: 40%;
    margin: 0 auto;
    font-size: 1.2rem;
    font-weight: bold;
}
#clientele {
    text-align: center;
    justify-content: center;
    overflow: hidden;
    padding-top: 6vw;
    padding-bottom: 6vw;
}
@keyframes scrollClients {
    from {
        transform: translate(0%);
    }
    to {
        transform: translate(-100%);
    }
}
.projects__h4 {
    border-radius: 15px;
    color: #ffba00;
    padding: 5px 0;
    width: 12%;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
}
.our-projects {
    padding: 30px 50px;
    margin: 0;
    justify-content: center;
}
.project {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    color: white;
    border: 1px solid gainsboro;
    padding: 0;
    object-fit: cover;
    box-shadow: 0 10px 5px 0 #05433a; /* Slightly darker shade */
}

.project img {
    height: 100%;
    display: block;
    width: 100%;
    opacity: 1;
    transition: 0.5s;
    border-radius: 10px;
}
.project:hover img {
    opacity: 1;
    transform: scale(1);
}
#projects {
    padding-top: 60px;
    padding-bottom: 60px;
}
.enroll {
    z-index: 3;
    color: white;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 5px;
}
.Contact {
    background-color:#004539;
    background-position: center;
}
.enroll h3 {
    padding: 10px 0;
    font-weight: bold;
}
.enroll p {
    line-height: 1.5;
    width: 450px;
    padding: 0 20px;
}
.enroll__button {
    padding: 5px 15px;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    background-color: #ffba00;
}
.enroll-container {
    width: 100%;
    height: 100%;
    background-color:#004539;
    padding: 20px 0;
    flex-direction: column;
}
.testimonial {
    margin-bottom: 30px;
    height: fit-content;
    background-color: #07594d;
}
.testimonial__h4 {
    padding: 10px 0;
    margin-top: 10px;
    font-weight: bold;
    color:white;
}
.testimonial__card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #25776B;
    box-shadow: 0 5px 10px 0 #fff;
    padding: 20px;
    width: 70%;
    height: 200px;
    margin: 0 auto;
    border-radius: 10px;
    flex-direction: column;
}
.testimonial__card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 10px;
}
.testimonial__description {
    text-align: left;
    padding: 0 10px;
    font-weight: 600;
    margin-left: 10px;
    max-width: 400px;
    margin-bottom: 10px;
    color:white;
}
.carousel-control-prev-icon {
    background-color: #286D61;
    border-radius: 10px;
}
.carousel-control-prev-icon:hover {
    background-color: #07594d;
    border-radius: 10px;
}
.carousel-control-next-icon {
    background-color: #286D61;
    border-radius: 10px;
}
.carousel-control-next-icon:hover {
    background-color: #07594d;
    border-radius: 10px;
}
.last__section {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #07594d;
    padding: 10px;
    color: white;
    z-index: 999;
}
.footer {
    font-weight: 700;
    background-color: #0d8f7b;
    color: white;
    margin-top: 50px;
}
.footer-icon {
    height: 100px;
    width: 100px;
}
.footer p {
    font-weight: 200;
    color: white;
}
.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: 200;
    color: #fff;
}
.newsletter__h3 {
    font-size: 1rem;
}
.email {
    display: flex;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: white;
}
.sub_btn {
    background-color: #ffba00;
    color: #0d8f7b;
}
.footer h5 {
    font-weight: bold;
}
footer li {
    padding: 5px 0;
}
.footer-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.column {
    flex: 1 1 100%;
    margin-bottom: 20px;
}
input[type="text"],
input[type="email"] {
    outline: none;
    border: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
}
a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}
a,
a:active,
a:focus {
    color: #fff;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
}
section {
    padding: 60px 0;
}
.sec-title {
    position: relative;
    z-index: 1;
    margin-bottom: 60px;
}
.sec-title .title {
    position: relative;
    display: block;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 15px;
}
.sec-title h2 {
    position: relative;
    display: block;
    font-size: 40px;
    line-height: 1.28em;
    color: #222222;
    font-weight: 600;
    padding-bottom: 18px;
}
.sec-title h2:before {
    position: absolute;
    content: "";
    left: 0px;
    bottom: 0px;
    width: 50px;
    height: 3px;
    background-color: #d1d2d6;
}
.sec-title .text {
    position: relative;
    font-size: 16px;
    line-height: 26px;
    color: #848484;
    font-weight: 400;
    margin-top: 35px;
}
.sec-title.light h2 {
    color: #ffffff;
}
.sec-title.text-center h2:before {
    left: 50%;
    margin-left: -25px;
}
.list-style-one {
    position: relative;
}
.list-style-one li {
    position: relative;
    font-size: 16px;
    line-height: 26px;
    color: #222222;
    font-weight: 400;
    padding-left: 35px;
    margin-bottom: 12px;
}
.list-style-one li:before {
    content: "\f058";
    position: absolute;
    left: 0;
    top: 0px;
    display: block;
    font-size: 18px;
    padding: 0px;
    color: #ff2222;
    font-weight: 600;
    -moz-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1.6;
    font-family: "Font Awesome 5 Free";
}
.list-style-one li a:hover {
    color: #44bce2;
}
.btn-style-one {
    position: relative;
    display: inline-block;
    font-size: 17px;
    line-height: 30px;
    color: #ffffff;
    padding: 10px 30px;
    font-weight: 600;
    overflow: hidden;
    letter-spacing: 0.02em;
    background-color: #00aeef;
}
.btn-style-one:hover {
    background-color: #0794c9;
    color: #ffffff;
}
.about-section {
    position: relative;
    padding: 120px 0 70px;
}
.about-section .sec-title {
    margin-bottom: 45px;
}
.about-section .content-column {
    position: relative;
    margin-bottom: 50px;
}
.about-section .content-column .inner-column {
    position: relative;
    padding-left: 30px;
}
.about-section .text {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 26px;
    color: #848484;
    font-weight: 400;
}
.about-section .list-style-one {
    margin-bottom: 45px;
}
.about-section .btn-box {
    position: relative;
}
.about-section .btn-box a {
    padding: 15px 50px;
}
.about-section .image-column {
    position: relative;
}
.about-section .image-column .text-layer {
    position: absolute;
    right: -110px;
    top: 50%;
    font-size: 325px;
    line-height: 1em;
    color: #ffffff;
    margin-top: -175px;
    font-weight: 500;
}
.about-section .image-column .inner-column {
    position: relative;
    padding-left: 80px;
    padding-bottom: 0px;
}
.about-section .image-column .inner-column .author-desc {
    position: absolute;
    bottom: 16px;
    z-index: 1;
    background: orange;
    padding: 10px 15px;
    left: 96px;
    width: calc(100% - 152px);
    border-radius: 50px;
}
.about-section .image-column .inner-column .author-desc h2 {
    font-size: 21px;
    letter-spacing: 1px;
    text-align: center;
    color: #fff;
    margin: 0;
}
.about-section .image-column .inner-column .author-desc span {
    font-size: 16px;
    letter-spacing: 6px;
    text-align: center;
    color: #fff;
    display: block;
    font-weight: 400;
}
.about-section .image-column .inner-column:before {
    content: "";
    position: absolute;
    width: calc(50% + 80px);
    height: calc(100% + 160px);
    top: -80px;
    left: -3px;
    background: transparent;
    z-index: 0;
    border: 44px solid #00aeef;
}
.about-section .image-column .image-1 {
    position: relative;
}
.about-section .image-column .image-2 {
    position: absolute;
    left: 0;
    bottom: 0;
}
.about-section .image-column .image-2 img,
.about-section .image-column .image-1 img {
    box-shadow: 0 30px 50px rgba(8, 13, 62, 0.15);
    border-radius: 46px;
}
.about-section .image-column .video-link {
    position: absolute;
    left: 70px;
    top: 170px;
}
.about-section .image-column .video-link .link {
    position: relative;
    display: block;
    font-size: 22px;
    color: #191e34;
    font-weight: 400;
    text-align: center;
    height: 100px;
    width: 100px;
    line-height: 100px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 30px 50px rgba(8, 13, 62, 0.15);
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.about-section .image-column .video-link .link:hover {
    background-color: #191e34;
    color: #ffffff;
}
@media (min-width: 48em) and (max-width: 69.25em) {
    .first-section {
        max-width: 100vw;
    }
    body {
        max-width: 100vw;
        overflow-x: hidden;
        min-height: 100vh;
    }
}
@media (min-width: 20em) and (max-width: 28.125em) {
    body {
        max-width: 100vw;
        overflow-x: hidden;
        min-height: 100vh;
    }
    .partnerships {
        width: 90%;
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        margin-left: 5%;
        padding: 0 1rem;
        font-size: 16px;
        display: -ms-grid;
        display: grid;
        -ms-grid-rows: 1fr ifr;
        grid-template-rows: 1fr ifr;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        margin-top: -20%;
    }
    .brand__image {
        width: 90px;
        height: 60px;
    }
    .header {
        padding: 0 5px;
    }
    .about__h4 {
        font-size: 1.3rem;
        max-width: 100vw;
    }
    .navbar-collapse {
        max-width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header__ul {
        margin: 0;
        padding: 0;
        gap: 0;
        display: inline;
    }
    .header__ul li {
        padding: 0;
        margin: 0;
    }
    .header__ul a {
        margin: 0 10px;
    }
    .navbar-toggler-icon {
        color: white;
    }
}
@media (max-width: 19.94em) {
    body {
        max-width: 100vw;
        overflow-x: hidden;
        min-height: 100vh;
    }
    .partnerships {
        width: 90%;
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        margin-left: 5%;
        padding: 0 1rem;
        font-size: 16px;
        display: -ms-grid;
        display: grid;
        -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        margin-top: -20%;
    }
    .brand__image {
        width: 100px;
        height: 60px;
    }
    .header {
        padding: 0 5px;
    }
    .about__h4 {
        font-size: 1rem;
        max-width: 100vw;
    }
    .services__h4 {
        font-size: 1rem;
        padding: 10px;
    }
    .navbar-collapse {
        max-width: 100vw;
    }
    #navbarNav li {
        text-transform: lowercase;
        margin: 0;
    }
    .header__ul {
        display: flex;
        flex-wrap: wrap;
        max-width: fit-content;
        align-items: center;
    }
    .hero-p {
        margin-left: -40px;
    }
    .testimonial {
        min-height: 200vh;
        margin-bottom: 70px;
    }
}
@media (max-width: 768px) {
    .brand__image {
        width: 120px;
        height: 80px;
    }
}
@media (min-width: 769px) and (max-width: 1088px) {
    .last {
        display: none;
    }
}
@media (min-width: 375px) and (max-width: 768px) {
    .about {
        margin-top: 100px;
    }
}
@media (max-width: 768px) {
    .hero-content {
        padding: 50px;
    }
}
@media (min-width: 576px) {
    .container,
    .hero-section .container-sm {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container,
    .hero-section .container-md,
    .container-sm {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container,
    .hero-section .container-lg,
    .container-md,
    .container-sm {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container,
    .hero-section .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1040px;
    }
}
@media (max-width: 768px) {
    .clients__h4 {
        border-radius: 10px;
        background-color: #ffba00;
        color: #fff;
        padding: 4px 0;
        width: 20%;
        font-size: 1.1rem;
        font-weight: bold;
        margin: 0 auto;
        text-align: center;
    }
}
@media (max-width: 575px) {
    .d-flex-override {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .d-flex-override {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .d-flex-override {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .d-flex-override {
        flex-direction: row;
        flex-wrap: space-between;
        align-items: center;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .partnerships {
        width: 90%;
        height: max-content;
        margin-left: 5%;
        padding: 0 1rem;
        font-size: 16px;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .partnerships {
        padding: 0 2rem;
        width: 80%;
        height: fit-content;
        margin-left: 10%;
        font-size: 18px;
    }
}
@media (min-width: 1200px) {
    .partnerships {
        width: 70%;
        margin-left: 15%;
        padding: 0 2rem;
        font-size: 20px;
    }
}
@media (max-width: 575px) {
    .about__h4 {
        margin: 5px 0;
        width: 400px;
    }
    .about__p {
        font-size: 1 rem;
        padding: 10px 15px 0 0;
    }
}
@media (min-width: 1200px) {
    .about__h4 {
        margin: 15px 0;
    }
    .about__p {
        font-size: 1.1 rem;
        padding: 10px 25px 0 0;
    }
}
@media (min-width: 768px) {
    .testimonial__card {
        flex-direction: row;
        justify-content: space-around;
        text-align: left;
    }
    .testimonial__card img {
        margin-right: 20px;
        margin-bottom: 0;
    }
}
@media (max-width: 767px) {
    .testimonial__card {
        text-align: center;
        width: 100%;
        height: 250px;
    }
    .testimonial__card img {
        margin-right: 20px;
        margin-bottom: 0;
    }
}
@media (max-width: 768px) {
    .project {
        width: 400px;
        height: 400px;
    }
    .projects__h4 {
        border-radius: 10px;
        background-color: #ffba00;
        color: #ffff;
        padding: 4px 0;
        width: 60%;
        font-size: 1.1rem;
        font-weight: bold;
        margin: 0 auto;
        text-align: center;
    }
}
@media (max-width: 480px) {
    .project {
        width: 400px;
        height: 400px;
    }
    .our-projects {
        padding: 10px 20px;
    }
    .projects__h4 {
        border-radius: 5px;
        background-color: #ffba00;
        color: #fff;
        padding: 3px 0;
        width: 60%;
        font-size: 1rem;
        font-weight: bold;
        margin: 0 auto;
        text-align: center;
    }
    .card-image {
        display: none;
    }
    .testimonial__card {
        text-align: center;
        width: 100%;
        height: 250px;
    }
    .testimonial {
        max-height: 50vh;
    }
}
@media (max-width: 375px) {
    .project {
        width: 300px;
        height: 300px;
    }
    .partnerships {
        margin: 10px 20px;
        position: relative;
    }
}
@media (min-width: 357px) and (max-width: 575px) {
    .partnerships {
        width: 90%;
        height: max-content;
        margin-left: 5%;
        padding: 0 1rem;
        font-size: 16px;
        display: grid;
        grid-template-rows: 1fr ifr;
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 575.98px) {
    .newsletter-input {
        width: 50%;
    }
}
@media (max-width: 992px) {
    .hero-h {
        font-size: 7em;
    }
    .hero-p {
        font-size: 18px;
    }
    .hero__button {
        font-size: 15px;
    }
}
@media (max-width: 768px) {
    .hero-h {
        font-size: 5em;
    }
    .hero {
        padding: 60px 0;
    }
    .hero-p {
        font-size: 16px;
    }
    .hero__button {
        font-size: 13px;
    }
}
@media only screen and (max-width: 390px) {
    .hero-h {
        font-size: 3.5em;
    }
    .hero-p {
        font-size: 14px;
    }
    .hero__button {
        padding: 6px 12px;
        font-size: 13px;
    }
}
@media (max-width: 392px) {
    .testimonial {
        margin-bottom: 50px;
    }
    .enroll {
        margin-top: 60px;
    }
    .testimonial__card {
        box-shadow: #07594d;
    }
    .about__h4 {
        font-size: 1.2em;
    }
    #copyright {
        font-size: 12px;
    }
}
.success-sub {
    display: none;
    color: white;
    background-color: #ffba00;
    font-weight: bold;
    border-radius: 5px;
    font-size: 13px;
}
@media (max-width: 392px) {
    .testimonial {
        margin-bottom: 50px;
    }
    .enroll {
        margin-top: 60px;
    }
    .testimonial__card {
        box-shadow: #07594d;
    }
    .about__h4 {
        font-size: 1.2em;
    }
    #copyright {
        font-size: 12px;
    }
}
@media screen and (max-width: 768px) {
    .client-images {
        flex-wrap: nowrap;
    }
    .client-item1,
    .client-item2,
    .client-item3,
    .client-item4 {
        width: 80vw;
    }
    .clients__h4 {
        width: 70%;
    }
}
